@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.mission_component {
  @apply grid grid-cols-1 gap-[2rem] items-center md:grid-cols-3;
}

.faq.open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: auto;
  transition: all 0.2s ease-in-out;
}

.faq.close {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  height: 0;
  transition: all 0.2s ease-in-out;
}

.marquee-container {
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  padding: 10px;
}

.marquee-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marquee-content p {
  white-space: nowrap;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #2C3E50;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.view-news-link {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #3498db;
}

.view-news-link:hover {
  color: #1f78c1;
}

